<div class="container d-flex flex-column justify-content-center align-items-center">
    <app-latest-post-thumbnail [post]="posts[0]" class="w-100 mb-5"></app-latest-post-thumbnail>

    <div class="row w-100 mb-5">
        <div class="col-sm-3">
            <app-regular-post-thumbnail class="w-100"></app-regular-post-thumbnail>
        </div>
        <div class="col-sm-3">
            <app-regular-post-thumbnail class="w-100"></app-regular-post-thumbnail>
        </div>
        <div class="col-sm-3">
            <app-regular-post-thumbnail class="w-100"></app-regular-post-thumbnail>
        </div>
        <div class="col-sm-3">
            <app-regular-post-thumbnail class="w-100"></app-regular-post-thumbnail>
        </div>
    </div>

    <div class="row w-100">
        <div class="col-sm-3">
            <app-regular-post-thumbnail class="w-100"></app-regular-post-thumbnail>
        </div>
        <div class="col-sm-3">
            <app-regular-post-thumbnail class="w-100"></app-regular-post-thumbnail>
        </div>
        <div class="col-sm-3">
            <app-regular-post-thumbnail class="w-100"></app-regular-post-thumbnail>
        </div>
        <div class="col-sm-3">
            <app-regular-post-thumbnail class="w-100"></app-regular-post-thumbnail>
        </div>
    </div>
</div>
