<div class="d-flex justify-content-center align-items-center">
    <div class="card border-0">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="https://images.unsplash.com/photo-1553342237-c6af5b65a876?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8NCUzQTN8ZW58MHx8MHx8&w=1000&q=80" class="img-fluid" alt="...">
            </div>
            
            <div class="col-md-6">
                <div class="card-body bg-light h-100 d-flex flex-column justify-content-center align-items-center px-sm-5">
                    <h5 class="card-title last-post-title-text">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>