<div class="d-flex justify-content-center align-items-center">
    <div class="card border-0">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="{{thumbnail}}" class="img-fluid" alt="...">
            </div>

            <div class="col-md-6">
                <div class="card-body bg-light h-100 d-flex flex-column justify-content-center align-items-center px-sm-5">
                    <h5 class="card-title last-post-title-text text-center">{{title}}</h5>
                    <p [innerHTML]="summary" class="card-text text-justify"></p>
                    <p class="card-text"><small class="text-muted">{{timestamp}}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
